// colors
$black: #233348;
$blue: #458FF6;
$lightGray: #7D7987;
$gradientBlue: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);

// sizes
$breakpointS: 768px;
$breakpointM: 1024px;
$defaultPadding: 10%;
$burgerWidth: 25px;
$burgerHeight: 20px;